<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <!--DEV Environment-->
  <appSettings>
    <add key="Api_UrlBase" value="https://winstonretail-test.axonify.com/axonify/api/v2/" />
    <add key="Api_HeaderTokenName" value="X-Axonify-API-Token" />
    <add key="Api_Token" value="SXaW3I+NxMXTucuWaNSVE9wiYGEKE0oiygu5h1galxRcwVAi5khYVg==-34FECEA32019F8D04699DE042558CD13641496EE" />
  </appSettings>
  <connectionStrings>
    <add name="AxonifyIntegration" connectionString="data source=10.10.0.47;initial catalog=AxonifyIntegration;user id=BosApiDev;password=Api#2018;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--PROD Environment-->
  <!--<appSettings>
    <add key="Api_UrlBase" value="https://winstonretail.axonify.com/axonify/api/v2/" />
    <add key="Api_HeaderTokenName" value="X-Axonify-API-Token" />
    <add key="Api_Token" value="iq47BAAi9l+6Mz/UHqCfnIURUlIvJEbmG41CVfmwJmjCa9D7u7JXnw==-833C1384CDB83F893F0C2F4EDCF1763806F52892" />
  </appSettings>
  <connectionStrings>
    <add name="AxonifyIntegration" connectionString="data source=10.10.0.47;initial catalog=AxonifyIntegration;user id=BosApiDev;password=Api#2018;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
</configuration>