<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AxonifyIntegrationEntities" connectionString="data source=(localdb)\MSSQLLocalDB;initial catalog=AxonifyIntegration;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="AxonifyIntegrationEntities1" connectionString="metadata=res://*/DataModels.AxonifyIntegrationEntities.csdl|res://*/DataModels.AxonifyIntegrationEntities.ssdl|res://*/DataModels.AxonifyIntegrationEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=AxonifyIntegration;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>